*{
    margin: 0;
    border: border-box;
    font-family: Amazon Ember, Arial, sans-serif;
    
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    background-image:url("logo.png");
    background-size:cover;
    
    
}
.nav-logo{
    padding-right: 20px;
    height: 50px;
    width: 100px;

    
}
.border {
    border: 2px solid transparent;
 }
.border :hover{
   border: 2px solid white;
}
/* box2*/
.add-one{
    color: aliceblue;
    font-size: 0.85rem;
    margin-left:3px ;
    font-size: 13px;  
}
.add-two{
    color: aliceblue;
    font-size: 1rem;
    margin-left: 3px;
    font-weight: bold;
    font-size: 17px;

}
.add-icon{
    align-items: center;
    display: flex;
}
.nav-address{
    padding-right:  10px;
    padding-left: 10px;
}
/*box3*/
.nav-search{
    display: flex;
    border-radius: 4px;
    height: 40px;
    width: 840px;
    background-color:darkgoldenrod;
    justify-content: space-evenly;
}
.search-select{
    display: flex;
    width: 55.5px;
    padding: 5px;
    align-items: center;
    background-color:rgb(190, 188, 188);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon{
    border: none;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-forfont1{
    font-size:13px;
}
.nav-forfont{
    font-weight: bold;
    font-size:17px;

}
.flag{
    height: 20px;
    width: 20px;
}
.nav-forfont2{
    font-size:13px;
}
.nav-forfont3{
    font-weight: bold;
    font-size:17px;
}
.nav-lang{
    padding-left: 25px;
    padding-right: 90px;
}
.nav-order{
    padding-left: 25px;
}
.nav-cart{
    padding-left: 25px;
    font-weight: bold;
}
.all{
    display: inline;
}
.panel{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;    

}
.panel-ops a{
    display: inline;
    justify-content: space-evenly;
    margin: 8px;
}
.deals{
    padding-left: 670px;

}
/* .panel-ops{
    width: 70%;
    font-size: 0.85;
} */
 /* body */
.hero{
    background-image:url("71qcoYgEhzL._SX3000_.jpg");
    height:400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-msg{
background-color: gainsboro;
bottom: 40px;
width: 80%;
height: 40px;
display: flex;
justify-content: center;
color: black;
align-items: center;
margin-bottom: 25px;
}

.box{
    height: 420px;
    /* width: 23%; */
    width: 370px;
    /* border:2px solid #0f1111; */
    margin: 0.3%;
    background-color: white;
    justify-content: center;
}
.content{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #e2e7e6;
    
}

.img1{
    height:420px;
    width:370px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    
}
.img {
    width: 170px;
    height: 115px;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 7.5px solid white;
    
    
}
.imga{
    background-image: url("Fuji_Quad_Chair_1x._SY116_CB667159060_.jpg");
}
.imgaa{
    background-image: url("Fuji_Quad_Headset_1x._SY116_CB667159060_.jpg");
}
.imgaaa{
    background-image: url("Fuji_Quad_Mouse_1x._SY116_CB667159063_\ \(1\).jpg");
}
.imgaaaa{
    background-image: url("Fuji_Quad_Keyboard_1x._SY116_CB667159063_.jpg");
}
.imgb{
    background-image: url("Home_Flip_Summer_2024_318_HP_NewArrivals_QuadCard_D_04_1x._SY116_CB555960040_.jpg");
}
.imgbb{
    background-image: url("Home_Flip_Summer_2024_317_HP_NewArrivals_QuadCard_D_03_1x._SY116_CB555960040_.jpg");
}
.imgbbb{
    background-image: url("Home_Flip_Summer_2024_316_HP_NewArrivals_QuadCard_D_02_1x._SY116_CB555960040_.jpg");
}
.imgbbbb{
    background-image: url("Home_Flip_Summer_2024_315_HP_NewArrivals_QuadCard_D_01_1x._SY116_CB555960040_.jpg");
}
.imgc{
    background-image: url("dress.jpg");
}
.imgcc{
    background-image: url("DQC_APR_TBYB_W_SHOES_1x._SY116_CB624172947_.jpg");
}
.imgccc{
    background-image: url("DQC_APR_TBYB_W_TOPS_1x._SY116_CB623353881_.jpg");
}
.imgcccc{
    background-image: url("DQC_APR_TBYB_W_BOTTOMS_1x._SY116_CB624172947_.jpg");
}
.imgd{
    background-image: url("DesktopQuadCat_186x116_home_B08RCCP3HV_01.23._SY116_CB619238939_\ \(1\).jpg");
}
.imgdd{
    background-image: url("DesktopQuadCat_186x116_kitchen_B0126LMDFK_01.23._SY116_CB619238939_.jpg");
}
.imgddd{
    background-image: url("DesktopQuadCat_186x116_LP-HP_B08MYX5Q2W_01.23._SY116_CB619238939_.jpg");
}
.imgdddd{
    background-image: url("DesktopQuadCat_186x116_health-beauty_B07662GN57_01.23._SY116_CB619238939_\ \(1\).jpg");
}
.imgmsg{
    color:darkturquoise;
    font-weight: 400;
}






.box3{
    height: 420px;
    /* width: 23%; */
    width: 370px;
    /* border:2px solid #0f1111; */
    margin: 0.3%;
    background-color: white;
    justify-content: center;
}
/* content 2 */
.content2{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: #e2e7e6;
    
}

.img21{
    height:420px;
    width:370px;
    
    
}
.imgg{
    width: 96%;
    height: 70%;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 7.5px solid white;
    
    
}
.imga2{
    background-image: url("Fuji_Desktop_Single_image_EBF_1x_v3._SY304_CB573698005_.jpg");
}

.imgb2{
    background-image: url("Fuji_Desktop_Single_image_EBF_1x_v5._SY304_CB573698005_.jpg");
}

.imgc2{
    background-image: url("Fuji_Gaming_store_Dashboard_card_1x_EN._SY304_CB564799420_.jpg");
}

.imgd2{
    background-image: url("PC_379x304_1._SY304_CB572341311_.jpg");
}

.imgmsg2{
    color:darkturquoise;
    font-weight: 400;
}









/* footer */
.footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color:  #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;

}
ul{
    list-style-type: none;
}
.foot-panel2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222f3d;
    color: #dddddd;
    
}
p{
    font-weight: bolder;
   
}
li {
    
    padding-top: 10px;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    background-size:cover;
    background-image:url("logo.png");
    height: 50px;
    width: 100px;
    
}
.a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.panel4{
    background-color: #0f1111;
    color: white;
    height: 70px; 
    text-align: center; 
    font-size: 0.85rem;
}
.page{
     padding-top: 25px;
     display: flex;
     gap: 20px;
     justify-content: center;
}
.copyright{
    padding-top: 10px;
    
}
